{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modalidades de Construcción</title>
    <link rel="stylesheet" href="{% static 'css/Style5.css' %}">
    <script src="{% static 'js/script_casas1.js' %}" defer></script>
</head>

    <!-- Menú de Navegación -->
    <header class="navbar">
        <div class="logo">HomeCount Simulator
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'contrucion' %}">Servicios</a></li>
                <li><a href="{% url 'casas_rapidas' %}">Proyectos</a></li>
                <li><a href="{% url 'inicio' %}#contacto" class="btn-contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

<!-- Importar Three.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script> <!-- agregado de importaciones de modelos 3d-->
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/DRACOLoader.js"></script>
<!-- 2. NUEVO: Agregar OrbitControls para poder rotar la cámara -->
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>

<section id="constructor-3d" class="seccion-3d">
    
    <!-- 1. Contenedor del lienzo 3D (Ahora ocupará todo el fondo) -->
    <div id="canvas-3d-container"></div>

    <!-- 2. Capa de Interfaz (UI) flotante invisible que contiene los widgets -->
    <div id="ui-flotante">
        
        <!-- Widget Superior Derecho: Presupuesto y Botón Borrar -->
        <div class="panel-superior-derecho">
            <div class="presupuesto-total">
                Costo Total: <strong id="total-3d">$0</strong> CLP
            </div>
            <button id="btn-borrar-todo" class="btn-peligro">
                🗑️ Borrar Diseño Definitivamente
            </button>
        </div>

        <!-- Instrucciones (Flotantes arriba al centro) -->
        <div class="panel-instrucciones">
            <p><strong>Click:</strong> Construir | <strong>Shift + Click:</strong> Borrar</p>
        </div>

        <!-- Catálogo Inferior Centrado (Contenedores vacíos para inyectar con JS) -->
        <div class="panel-inferior-centro">
            <div id="lista-materiales" class="catalogo-scroll"></div>
            <div id="lista-habitaciones" class="catalogo-scroll"></div>
        </div>
        
    </div>
    
</section>

<footer>
    <p>&copy; 2024 HomeCount Simulator. Todos los derechos reservados.</p>
</footer>